@tailwind base;
@tailwind components;
@tailwind utilities;

/* Top Section */

.custom-shape-divider-top-1666574538 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666574538 svg {
  position: relative;
  display: block;
  width: calc(193% + 1.3px);
  height: 240px;
  transform: rotateY(180deg);
}

/* Right Side */

.custom-shape-divider-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 71%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-right svg {
  position: relative;
  display: block;
  width: calc(100% + 33.3px);
  height: 73rem;
}

/* Top Left Blob */

.top-left-blob {
  position: absolute;
  left: 0;
  top: 0;
}

.top-left-blob-dark {
}

/* Bottom Left Divider */

.custom-shape-divider-bottom-left {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-left svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 252px;
  transform: rotateY(180deg);
}

/* Education */

.custom-shape-divider-top-1666871497 {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1666871497 svg {
  position: relative;
  display: block;
  width: calc(226% + 1.3px);
  height: 404px;
}

/* Skills */
.custom-shape-divider-top-skills {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-skills svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 228px;
}

/* Footer */

.custom-shape-divider-bottom-1666887528 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1666887528 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
}
